@import '../../../../../assets/scss/colors';

.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  min-width: 50%;
  width: auto;
  height: 100%;
  padding: 60px 40px;
  background-color: $secondary-color;
  background-image: url('../../../../../assets/images/cat-and-dog.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  h2 {
    color: $primary-color;
  }

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2rem;
  }
}

.logo {
  width: auto;
  height: 120px;
}

.form-container {
  min-width: 50%;
  width: auto;
  height: 100vh;
  padding: 40px 60px;
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    max-width: 400px;
    width: auto;
  }

  .error {
    color: $primary-color-light;
    margin-top: 5px;
  }
}

::ng-deep .p-inputwrapper,
::ng-deep .p-password-input {
  width: 100%;
}

::ng-deep .p-input-icon-right > .p-icon-wrapper {
  top: 30%;
}

::ng-deep .p-button .p-button-icon-right {
  margin-left: 0.5rem !important;
}

.link {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: $primary-color-light;
  }
}
