@import '../../../../../assets/scss/colors';

.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
}

.image-container {
  width: 50%;
  height: 100%;
  background-color: $secondary-color;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

.logo {
  display: inline-block;
  width: 100px;
  height: auto;
  border: 2px solid $white;
  border-radius: 15px;
}

.form-container {
  min-width: 50%;
  width: auto;
  height: 100vh;
  padding: 40px 60px;
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    max-width: 400px;
    width: auto;
  }

  .error {
    color: $primary-color-light;
    margin-top: 5px;
  }
}

::ng-deep .p-inputwrapper,
::ng-deep .p-password-input {
  width: 100%;
}

::ng-deep .p-input-icon-right > .p-icon-wrapper {
  top: 30%;
}

::ng-deep .p-button .p-button-icon-right {
  margin-left: 0.5rem !important;
}
