<div class="container flex">
  <div class="image-container hidden md:block">
    <app-image-slider
      [showIndicators]="true"
      [showNavigation]="false"
      [autoplayInterval]="5000"
      [slides]="slides"></app-image-slider>
  </div>
  <div class="form-container md:w-6 w-full">
    <header class="header mb-6">
      <a routerLink="/">
        <img src="assets/logo/my-pet-logo.svg" alt="my pet logo" class="logo" />
      </a>
      <div class="header-text ml-4">
        <h3 class="mb-1">Welcome to</h3>
        <h1>My Pet App</h1>
      </div>
    </header>
    @if (!tokenExists) {
      <p>
        Changing your password is impossible, url doesn't contain valid token.
        <br />
        Please provide your email
        <a routerLink="/forgot-password" class="text-link">here</a> so we can
        send you new email with password reset.
      </p>
    } @else if (!formSent) {
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
        class="form">
        <h2 class="mb-5">Reset password</h2>
        <p class="mb-5">Please provide new password and confirm it</p>

        <div class="flex flex-column gap-1 mb-3">
          <label for="password">New password</label>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="true"
            [toggleMask]="true"
            [ngClass]="{ 'ng-invalid ng-dirty': password.errors }">
            <ng-template pTemplate="footer">
              <p-divider />
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>At least one special character</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          @if (password.dirty && password.errors?.['required']) {
            <small class="error">Password is required</small>
          }
          @if (password.dirty && password.errors?.['minlength']) {
            <small class="error"
              >Minimum required length is
              {{ password.errors?.['minlength']['requiredLength'] }}</small
            >
          }
          @if (password.dirty && password.errors?.['maxlength']) {
            <small class="error"
              >Maximum allowed length is
              {{ password.errors?.['maxlength']['requiredLength'] }}</small
            >
          }
          @if (password.dirty && password.errors?.['pattern']) {
            <small class="error">
              Password must contain at least one lowercase, one uppercase, one
              numeric and at least one special character
            </small>
          }
        </div>
        <div class="flex flex-column gap-1 mb-4">
          <label for="confirmPassword">Confirm password</label>
          <p-password
            id="confirmPassword"
            formControlName="confirmPassword"
            [feedback]="false"
            [toggleMask]="true"
            [ngClass]="{ 'ng-invalid ng-dirty': confirmPassword.errors }" />
          @if (confirmPassword.dirty && confirmPassword.errors?.['required']) {
            <small class="error">Confirm password is required</small>
          }
          @if (
            confirmPassword.dirty &&
            resetPasswordForm.errors?.['confirmPasswordError']
          ) {
            <small class="error">Confirm password doesn't match</small>
          }
        </div>

        @if (errorMsg.length > 0) {
          <p class="error" class="mt-2 mb-2">{{ errorMsg }}</p>
        }

        <button
          class="mt-3"
          type="submit"
          pButton
          size="small"
          [icon]="requestProcessing ? 'pi pi-spin pi-spinner' : ''"
          iconPos="right"
          [disabled]="requestProcessing || resetPasswordForm.pristine">
          Reset
        </button>
      </form>
    } @else {
      <p class="mb-3">
        Your password has been changed. <br />
        Please login with new password.
      </p>
      <p>Go to <a routerLink="/login" class="text-link">login page</a></p>
    }
  </div>
</div>
