<div class="container flex">
  <div class="image-container hidden md:block">
    <header class="header">
      <a routerLink="/">
        <img src="assets/logo/my-pet-logo.svg" alt="my pet logo" class="logo" />
      </a>
      <div class="header-text ml-4">
        <h2>Welcome to</h2>
        <h1>My Pet App</h1>
      </div>
    </header>
  </div>
  <div class="form-container md:w-6 w-full">
    @if (!formSent) {
      <form
        #forgotPasswordForm="ngForm"
        (ngSubmit)="onSubmit(forgotPasswordForm)"
        class="form">
        <h2 class="mb-5">Forgot password?</h2>
        <p class="mb-5">
          Please provide valid email to your account to reset password
        </p>
        <div class="flex flex-column gap-1 mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            pInputText
            name="email"
            id="email"
            [(ngModel)]="emailInput"
            #email="ngModel"
            required
            minlength="4"
            maxlength="256"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [ngClass]="{
              'ng-invalid ng-dirty': email.dirty && email.errors,
            }" />
          @if (email.dirty && email.errors?.['required']) {
            <small class="error">Email is required</small>
          }
          @if (email.dirty && email.errors?.['maxlength']) {
            aa
            <small class="error"
              >Maximum allowed length is
              {{ email.errors?.['maxlength']['requiredLength'] }}</small
            >
          }
          @if (email.dirty && email.errors?.['pattern']) {
            <small class="error">Entered email is invalid</small>
          }
        </div>

        @if (errorMsg.length > 0) {
          <p class="error" class="mt-2 mb-2">{{ errorMsg }}</p>
        }

        <button
          class="mt-3"
          type="submit"
          pButton
          size="small"
          [icon]="requestProcessing ? 'pi pi-spin pi-spinner' : ''"
          iconPos="right"
          [disabled]="requestProcessing || email.pristine">
          Send
        </button>
      </form>
    } @else {
      <p>
        Check your email inbox, we have just sent you an email with instructions
        on how to reset your passsword.
      </p>
    }
  </div>
</div>
