<div class="container flex">
  <div class="image-container hidden md:block">
    <header class="header">
      <a routerLink="/">
        <img src="assets/logo/my-pet-logo.svg" alt="my pet logo" class="logo" />
      </a>
      <div class="header-text ml-4">
        <h2>Welcome to</h2>
        <h1>My Pet App</h1>
      </div>
    </header>
  </div>
  <div class="content-container md:w-6 w-full">
    <a
      routerLink="/register"
      class="p-button font-bold mb-5 button-link button-link--secondary-color">
      Create new account
    </a>
    <a routerLink="/login" class="p-button font-bold button-link">Log in</a>
  </div>
</div>
