@import '../../../assets/scss/colors';

.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  min-width: 50%;
  width: auto;
  height: 100%;
  padding: 60px 40px;
  background-color: $secondary-color;
  background-image: url('../../../assets/images/cat-and-dog.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  h2 {
    color: $primary-color;
  }

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2rem;
  }
}

.logo {
  width: auto;
  height: 120px;
}

.content-container {
  min-width: 50%;
  width: auto;
  height: 100vh;
  padding: 40px 60px;
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.button-link {
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  width: 300px;
  display: block;
  border-radius: 50px;
}

.button-link--secondary-color {
  background-color: $secondary-color;
  color: $primary-color;

  &:hover {
    opacity: 85%;
  }
}
