<div class="container">
  <header class="header">
    <div class="menu">
      <app-top-menu
        [isLoggedIn]="isLoggedIn"
        [items]="menuItems"
        (logout)="onLogout()"></app-top-menu>
    </div>
  </header>
  <div class="content">
    <h3 class="mb-2">Hello, {{ user?.name || 'user' }}</h3>
    <h2 class="mb-4">Welcome to My Pet App</h2>
    <div class="mb-4">
      <button pButton (click)="deleteAccount()">Delete account</button>
    </div>
    <p class="text-center mt-4">More functionalities coming soon</p>
  </div>
</div>
